---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<body>
    <div
        class="pointer_mouse h-[600px] w-[600px] overflow-hidden rounded-full fixed z-9999"
    >
    </div>
    <div
        class="fixed top-0 bottom-0 z-[-2] min-h-screen w-full bg-gradient-to-b from-black via-gray-900 to-black"
    >
        <img
            src="../images/Neon.webp"
            alt="background"
            class="relative z-[-2] w-full h-full top-0 opacity-[.1] brightness-100 object-cover
           animate-[pulse_6s_ease-in-out_infinite]"
        />
    </div>
    <main>
        <slot />
    </main>
    <Footer />
</body>

<style>
    @import "tailwindcss";
</style>
